<!doctype html>
<html>
<head>
    <title>D. Cha Design</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Login</h1>

    <table>
        <% for(var i=0; i < messages.length; i++) { %>
           <tr>
             <td><%= messages[i].name %></td>
             <td><%= messages[i].email %></td>
             <td><%= messages[i].msg %></td>
             <td><% if (messages[i].contacted) { %>
                 <p class="custContacted">CHECKMARK</p>
               <% } else { %>
                  <p class="custContacted">XMARK </p>
             <% } %>
            </td> 
             <td>DELETE</td> 
           </tr>
        <% } %>
        </table>

    <section id="seeMessages"></section>
    <p>Or go <a href="/">home</a>.</p>


</div>
</div>
</body>
</html>
