<!doctype html>
<html>
<head>
    <title>D. Cha Design</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Login</h1>

    <table class="table"> <!--class table was added sinse bootstrap helps with the table style     -->
        <thead>
            <tr>
    
              <th scope="col"> Name</th>
              <th scope="col">Emai</th>
              <th scope="col">Message</th>
              <th scope="col">Status</th>
              <th scope="col">Delete</th>
              
            </tr>
          </thead>
        <% for(var i=0; i < messages.length; i++) { %>
           <tr>
             <td><%= messages[i].name %></td>
             <td><%= messages[i].email %></td>
             <td><%= messages[i].msg %></td>
             <td><% if (messages[i].contacted) { %>
                 <p >✔</p>
               <% } else { %>
                  <p class="custContacted">✘</p>
             <% } %>
            </td> 
             <td class="delete">DELETE</td> <!--class Delete was added then we can add an event listener and send the delet request to the server     -->
           </tr>
        <% } %>
        </table>

    <section id="seeMessages"></section>
    <p>Or go <a href="/">home</a>.</p>


</div>
</div>
<script src="main.js"></script>
</body>
</html>
