<!doctype html>
<html>
    <head>
    <title>SECOND SITE</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Patua+One&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
            <div id="container">

                <div id="nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/work">Work</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>

                <div id="layout">
                    <div id="intro">
                        <section id="pfp">
                        <img src="/img/danpfp.png" alt="">
                        </section>

                        
                        <h1 href="/">Hi, I'm Daniel!</h1>

                        <h2>graphic design, <br></br>branding, <br></br>motion graphics</h2>

                    </div>

                    <div id="content">
                        <section>test</section>
                    </div>
                </div>

            </div>
            <!--<section id="bio">
                <p id="bio">Nice to meet you! I am a Philadelphia-based graphic designer who loves clean, meaningful design, and creates fun in the face of challenge.</p>
            </section>-->
     

            <!--<a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
          <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a> -->
    </body>
</html>
