body{
  word-wrap:break-word;
  box-sizing: border-box;
  background-color: #5ec4ff;
  margin: none;
}

#container {
  width: 100%;
  height: 100%;
}

#layout {
  display: flex;
}

#intro {
  text-align: center;
  width: 30%;
  height: 100%;
  padding: 3em;
  background-color: white;
  height: 100%;
  color: #175e85;
}
/*
#intro > .photo {
  height: 12em;
  width: 12em;
  border-radius: 50%;
  display: inline-block;
  background-color: #175e85;
  color: white;
}
*/

#pfp img{
  height: 13em;
  width: 13em;
  margin: auto;
}


h1 {
  font-family: 'Patua One', cursive;
  font-size: 7em;
}

h2 {
  font-family: 'Abel', sans-serif;
  margin: 1em;
  letter-spacing: .1em;
}


#content {
  width: 50%;
  height: 70%;
  border: 5px black solid;
  position: fixed;
  right: 0;
  display: flex;
}

#nav {
  position: fixed;
  height: 4em;
  width: 70%;
  background-color:#175e85;
  top: 0;
  right: 0;
  font-family: 'Abel', sans-serif;
  padding-bottom: none;
  display: flex;
}

ul {
  width: 100%;
  display:flex;
  text-align: center;
  list-style: none;
}

ul > li > a{
color: white;
flex-direction: row;
align-content: space-evenly;  
font-size: 1.5em;

}